.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, $alpha: .8);
    z-index: 2500;

    &_content {
        @include center-horizontal-vertical;
        width: 75%;
        background-color: rgba($color-white, $alpha: 1.0);
        box-shadow: 0 2rem 4rem rgba($color-black, $alpha: .2);
        border-radius: .3rem;
        display: table;
        overflow: hidden;

    }

    &_left {
        width: 33.33333333%;
        display: table-cell;
    }

    &_right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &_img {
        display: block;
        width: 100%;

    }

    &_text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-dark;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-dark;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}